@font-face {
  font-family: "Ruposhi Bangla";
  src: url("https://github.com/ShakilAnsary9/testing/raw/master/fonts/RuposhiBanglaUIUni-Bold.woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

h1 {
  font-family: "Ruposhi Bangla" !important;
}
